DATABASE_URL="postgresql://postgres:password@localhost:5432/vaiyu_industries"
EMAIL_USER="your-gmail-address@gmail.com"
EMAIL_APP_PASSWORD="your-16-character-gmail-app-password"
ADMIN_EMAIL="your-email@example.com"
